{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videonotes/note_item

    Example context (json):
    {
        Aqui tem que criar o context em inglês
    }
}}
<article class="videonotes-note" data-note-id="{{id}}" data-time="{{timecode}}" data-category="{{category}}"
         data-search="{{note}} {{categorylabel}} {{timestring}}">
    <div class="videonotes-note-top">
        <button type="button" class="btn btn-link p-0 videonotes-jump" data-time="{{timecode}}">{{timestring}}</button>
        <span class="badge bg-light text-dark">{{categorylabel}}</span>
        {{#shared}}<span class="badge bg-info text-dark">{{#str}}sharedwithteacher, videonotes{{/str}}</span>{{/shared}}
    </div>
    <div class="videonotes-note-text">{{note}}</div>
    <div class="videonotes-note-actions">
        <button type="button" class="btn btn-sm btn-link videonotes-edit" data-id="{{id}}" data-time="{{timecode}}"
                data-category="{{category}}" data-note="{{note}}" data-shared="{{shared}}">{{#str}}edit{{/str}}</button>
        <button type="button" class="btn btn-sm btn-link text-danger videonotes-delete" data-id="{{id}}">{{#str}}
            delete{{/str}}</button>
    </div>
</article>
